<link rel="stylesheet" href="/static/css/footer.css">
<div id="footer">
    <div id="logo">
        <a id="name" href="/">
            Sololearn Code API
        </a>
        <div id="source">
            <a href="https://github.com/PrathameshThorat008/Sololearn-Code-API">
                <img src="/static/img/github.png" alt="github" id="github">
            </a>
            <a href="https://github.com/PrathameshThorat008/Sololearn-Code-API/issues">
                <img src="/static/img/issue.png" alt="issue" id="issue">
            </a>
        </div>
    </div>
    <ul id="nav">
        <a href="/">
            <li>Home</li>
        </a><a href="/about">
            <li>About</li>
        </a>
        <a href="/doc">
            <li>Documentation</li>
        </a>
    </ul>
</div>