<input type="checkbox" id="menu_inp" hidden>
<div id="header">
    <a id="name" href="/">
        <div>Sololearn Code API</div>
    </a>
    <label for="menu_inp">
        <div class="bar b1"></div>
        <div class="bar b2"></div>
        <div class="bar b3"></div>
    </label>
    <ul id="nav">
        <a href="/">
            <li>Home</li>
        </a><a href="/about">
            <li>About</li>
        </a>
        <a href="/doc">
            <li>Documentation</li>
        </a>
    </ul>
</div>